.m-toc {
    padding-inline-start: 10px;
    margin: 0 0 0 0em;
    padding: 1em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.5em;
    font-size: 1em;
    float: right;
    max-width: 32%;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden; 
    strong {
        padding: 0.3em 0;
    }
    ol,
    li {
        margin: 0 0 0 0em;
        list-style-type: none;
    }
    ol li:before {
        display: none;
    }

    .m-toc-child {
        margin-left: 0em;
        padding-inline-start: 10px;
    }
}